<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 domande su Dragon Ball</title>
</head>
<body>
    <h1>Benvenuto al Quiz su Dragon Ball</h1>
    <p>Clicca sul pulsante per avviare il quiz.</p>
    <form action="/" method="POST">
        <button type="submit">Avvia il quiz</button>
    </form>
    <footer>
        <p>Sviluppato da Pradeeban Muralidaran</p>
    </footer>
</body>
</html>
